<h1>Listing currencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.name %></td>
    <td><%= currency.code %></td>
    <td><%= currency.collected? ? 'Collected' : 'Not Collected' %></td>
    <td><%= link_to 'Show', currency %></td>
    <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
  </tr>
<% end %>
</table>