<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'extensions', 'jquery-1.5.2.min', 'view_controller', 'simple_pie_chart' %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>CurrencyTracker</h1>
  <nav>
    <ul>
      <li><%= link_to "Currencies", currencies_path %></li>
      <li><%= link_to "Countries", countries_path %></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
